/* mobile block css */
div#clp-whole-mobile-header {
  display: none;
}
#clp-whole-header-top {
  padding: 32px 0;
}
.clp-header-right-top {
  float: right;
}
.region.region-clp-header-right-top {
  display: flex;
}
.row.ext-cta {
  float: right;
  margin-top: 20px;
}
.clp-language-switcher-block-wrapper {
  display: none;
}

.clp-language-switcher-block {
  width: 550px;
  position: absolute;
  right: -1%;
  top: 45%;
  z-index: 555;
  background: #fff;
  padding: 15px 64px;
  border: 1px solid #003366;
}
/* .region.region-clp-header-right-bottom {
	cursor: pointer;
} */
.region.region-clp-header-right-bottom .popup-content p {
  color: #333;
  max-width: unset;
  line-height: 24px;
  margin-bottom: 20px;
}
/* .region.region-clp-header-right-bottom .popup-content {
	display: none;
	z-index: 5555;
	position: absolute;
	background: #fff;
	min-width: 900px;
	top: 50%;
	right: 50%;
	transform: translate(-13%,15%);
} */
/* .region.region-clp-header-right-bottom .popup-content {
  display: none;
  z-index: 5555;
  position: absolute;
  background: #fff;
  min-width: 900px;
  top: 50%;
  right: 25%;
  transform: translate(-13%, 22%);
} */

.clp-header-right-top ul.clp-secondary-menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.clp-header-right-top ul.clp-secondary-menu li a {
  text-transform: uppercase;
}
/* .region.region-clp-header-right-top #cboxContent,
.region.region-clp-header-right-top #cboxLoadedContent,
.region.region-clp-header-right-top #colorbox {
    width: 800px !important;
} */
/* POPUP CONTENT */
.cta-header-secondary-menu-NACHRICHTEN,.cta-header-secondary-menu-klinische-studien,.cta-header-secondary-menu-investoren,.cta-header-secondary-menu-karriere {
  padding: 30px;
}
/* 
-------------------------------------------------------------------------DEFAULT---------------------------------------------------- */
body.page-node-type-clp .header-bottom-left.col-sm-6 {
  width: 100%;
}
body.page-node-type-clp .header-bottom-right.col-sm-6 {
  display: none;
}