
{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes)}}>

		{% set ComponentWidth =  paragraph.field_set_width.value %}
		{% set ComponentBackgroundColor =  paragraph.field_background_color_code.value %}

    {% if paragraph.field_description_text_area.value %}
		<div id="dark-bg-banner" style="background-color:{{ ComponentBackgroundColor }}; width:{{ ComponentWidth }}px; margin:auto;">
                <div class="row">{{content.field_description_text_area}}</div>
		</div>
    {% endif %}

	</div>
  
{% endblock paragraph %}

