{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    'paragraph-id--' ~ paragraph.id(),
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes)}}>

		{% set ComponentWidth =  paragraph.field_set_width.value %}

		<div id="accordion-column-content" style=" padding: 32px 125px;">
			<div class="accordion-inner-content" style="width:{{ ComponentWidth }}px; margin:auto;">
                <h2 class="text-align-center">{{content.field_heading_1}}</h2>
				<div class="content">{{content.field_accordion_1_column_expande}}</div>
			</div>
		</div>
	</div>

{% endblock paragraph %}
